<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern"
				value="### - %d{yyyy-MMM-dd HH:mm:ss.SSS} – [%6p] – [%t] – [%X{messageId}] - [%X{parentMessageId}] - [%X{rootMessageId}]- [%X{aopClass}] -  [%X{aopMethod}] – [%C:%M] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="info" />
		</filter>
	</appender>

	<appender name="logx" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern"
				value="### - %d{yyyy-MMM-dd HH:mm:ss.SSS} – %m%n" />
		</layout>
	</appender>

	<!--<appender name="kafka"-->
			  <!--class="org.apache.kafka.log4jappender.KafkaLog4jAppender">-->
		<!--<param name="topic" value="test" />-->
		<!--<param name="brokerList" value="localhost:9092" />-->
		<!--<param name="compressionType" value="none" />-->
		<!--<param name="syncSend" value="false" />-->
		<!--<param name="requiredNumAcks" value="0" />-->
		<!--<layout class="org.apache.log4j.PatternLayout">-->
			<!--<param name="conversionPattern" value="%m%n" />-->
		<!--</layout>-->
	<!--</appender>-->

	<logger name="io.log.extension.agent.core.sender.Log4jSender"
			additivity="true">
		<level value="info" />
		<!--<appender-ref ref="kafka" />-->
	</logger>

	<root>
		<priority value="info" />
		<!--<appender-ref ref="kafka" />-->
		<appender-ref ref="logx" />
	</root>
</log4j:configuration>
